@mixin centerElement($type) {
  //zoom: 0.5;
  @if $type == "both"{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }

  @if $type == "horizontal"{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
  }

  @if $type == "vertical"{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
  }

  @if $type == "none"{
    position:relative;
    top:auto;
    left:auto;
    transform: translate(0, 0);
  }
}
